<tr>
  <td><%= link_to client.name, client_path(client) %></td>
  <td><%= type_name client %></td>
  <td><%= number_of_orders client %></td>
  <td><%= total_credits_ordered client %></td>
  <td><%= total_credits_redeemed client %></td>
  <td><%= total_credits_avail client %></td>
  <td><%= link_to "Edit", edit_client_path(client) %></td>
  <td><p>Delete</p></td>
</tr>