<h2><%= client.name %> - <%= client.client_type %></h2>
<p>Has ordered <%= client.total_credits_ordered %> credits</p>
<p>has redeemed <%=%> credits</p>
<p>Has <%=%> credits available</p>

Order history:
<ul>
  <% client.orders.each do |order| %>
    <li><%= link_to order.order_id, order_path(order)%> - on <%=%> <%= order.total_credits %> credits was ordered.</li>
  <% end %>  
</ul>