<div class="row">
  <h2><%= @client.name %> - <%= type_name @client %></h2>
</div>

<div class="row">
  <div class="col-md-4">
    <p>Has ordered <%= total_credits_ordered @client %> credits</p>
  </div>
  <div class="col-md-4">
    <p>Has redeemed <%= total_credits_redeemed @client %> credits</p>
  </div>
  <div class="col-md-4">
    <p>Has <%= total_credits_avail @client %> credits available</p>
  </div>
</div>

<div class="row">
  <h4>Order history:</h4>
</div>

<div class="row table-responsive">
  <table class="table table-striped">
    <tr>
      <th>Order ID</th>
      <th>Date order</th>
      <th>Credits ordered</th>
      <th>Credit available</th>
    </tr>
    <% @client.orders.each do |order| %>
      <tr>
        <td><a href=<%= order_path(order) %>>#00<%= order.order_id %>
        <td><%= order.total_credits  %></td>
        <td><%= order.credits_avail  %></td>
      </tr>
    <% end %>
  </table>  
</div>

<div class="row">
  <p><%= link_to "Edit", edit_client_path(@client) %></p>
</div>
<div class="row">
  <p>Delete</p>
</div>
<div class="row">
  <p><%= link_to "Back to client list", clients_path %></p>
</div>





