<%= render(@client) %>

<h2><%= client.name %> - <%= client.client_type %></h2>
<p>Has ordered <%= client.total_credits_ordered %> credits</p>
<p>Has redeemed <%= client.total_credits_redeemed %> credits</p>
<p>Has <%= client.total_credits_avail %> credits available</p>
<br>
Order history:
<ul>
  <% client.orders.each do |order| %>
    <li><%= link_to order.order_id, order_path(order)%> - on <%=%> <%= order.total_credits %> credits was ordered.</li>
  <% end %>  
</ul>
<p><%= link_to "Edit", edit_client_path(client) %></p>
<p>Delete</p>
<p><%= link_to "Back to client list", clients_path %></p>