<h2>This is order #00<%= order.order_id %></h2>
<p>Client: <%= order.client_name %></p>
<p>Ordered on: <%= order.date_created %></p>
<p>Total value: <%= order.total_credits %></p>
<p>Credits available: <%= order.credits_avail %></p>
<br>
<p>Redeemed on:</p>
<ul> 
  <% order.redemptions.each do |redemption| %>
    <li><%= redemption.date_redeemed %>: <%= redemption.quantity %> x <%= redemption.product_name %> - <%= redemption.credits_redeemed %> credit(s) redeemed - <%= link_to "Edit", edit_redemption_path(redemption) %> | Delete</li>
  <% end %>
</ul>
<br>
<p><%= link_to "Add new redemption", new_redemption_path %></p>
<p><%= link_to "Back to client page", client_path(order.client) %></p>